.NavCont {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
}
.NavContBlurred {
  top: 0;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 800;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  backdrop-filter: blur(10px);
}

.NameText {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1.3px;
}
.NameText:hover {
  color: greenyellow;
}

.rightLinksCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 330px;
}
.NavLinkComp {
  color: white;
  font-size: 16px;
  letter-spacing: 0.8px;
  font-family: "Aboreto", cursive;
}
.NavLinkComp:hover {
  color: rgb(201, 255, 253);
}

/* Hamburger CSS */
.HamburgerMenu {
  display: none;
}
.HamburgerIcon {
  color: rgb(255, 255, 255);
}
.HamburgerLinkCont {
  font-family: "Signika Negative", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.HamburgerNavLinks {
  font-size: 20px;
  padding: 8px 0;
  border: none;
  outline: none;
  color: rgb(63, 63, 63);
}
.HamburgerNavLinks:hover {
  color: orange;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
  .NavCont {
    padding-left: 30px;
    padding-right: 30px;
  }
  .NavContBlurred {
    padding-left: 30px;
    padding-right: 30px;
  }
  .NameText {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1.1px;
  }

  .rightLinksCont {
    display: none;
  }

  .HamburgerMenu {
    display: flex;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .NavCont {
    padding-left: 35px;
    padding-right: 35px;
  }
  .NavContBlurred {
    padding-left: 35px;
    padding-right: 35px;
  }
  .NameText {
  }

  .rightLinksCont {
    display: none;
  }

  .HamburgerMenu {
    display: flex;
  }
}

/* Medium devices (desktops) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .NavCont {
  }
  .NameText {
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .NavCont {
  }
  .NameText {
  }
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1200px) {
  .NavCont {
  }
  .NameText {
  }
}
