.NavCont {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 100px;
  padding-right: 100px;
  height: 50px;
}

.NameText {
  color: white;
}

.rightLinksCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
}

.rightLinksCont h1 {
  color: white;
}
.rightLinksCont h1:hover {
  color: rgba(255, 255, 255, 0.845);
}

/* Hamburger CSS */
.HamburgerMenu {
  display: none;
}
.HamOptionsCont {
  background-color: red;
}

/* Extra small devices (phones) */
@media only screen and (max-width: 575.98px) {
  .NavCont {
    padding-left: 30px;
    padding-right: 30px;
  }
  .NameText {
  }

  .rightLinksCont {
    display: none;
  }

  .HamburgerMenu {
    display: flex;
  }
}

/* Small devices (tablets) */
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
  .NavCont {
    padding-left: 35px;
    padding-right: 35px;
  }
  .NameText {
  }

  .rightLinksCont {
    display: none;
  }

  .HamburgerMenu {
    display: flex;
  }
}

/* Medium devices (desktops) */
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .NavCont {
  }
  .NameText {
  }
}

/* Large devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .NavCont {
  }
  .NameText {
  }
}

/* Extra large devices (large desktops) */
@media only screen and (min-width: 1200px) {
  .NavCont {
  }
  .NameText {
  }
}
